<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pds.app.caloriecounter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonalDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecommendationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RatingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dayrecording.DayRecordingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
